.header {
    display: flex;
    //grid-template-columns: [s] 1fr [m] 1fr [e] 1fr [f];

    height: 147px;
    background-color: $peach;
    border-bottom: 5px groove $peach;

    justify-content: center;

    &__image-jester {
        height: 150px;
    }
    &__title {
        &__jokester {
            font-size: 60px;
            font-family: 'Rock Salt', cursive;
            transform: translateX(7px);   
        }

        &__desription {
            font-size: 18px;
            font-family: 'Raleway', sans-serif;

            transform: translateY(-20px) translateX(18px);
        }
    }
}

.navbar {
    background-color: $purple;

    border-bottom: 5px groove $purple;
}