@import 'variables';

.layout {
    display: grid;

    grid-template-rows: [header-s] 150px [header-e nav-s] 51px [nav-e mic-s] 454px [mic-e cards-s] 1fr [cards-e];
    grid-template-columns: [s] 1fr [e];


}