.react-mic-container {
    z-index: -1;

    display: grid;
    grid-template-columns: [s] 1fr [e] .6fr [f];
    grid-template-rows: [s] 1fr [ms] 1fr [me] .45fr [e];

    grid-row: s/e;
    grid-column: s/e;

    justify-items: center;

    background-color: $teal;

    padding-top: 10px;

    &__sound-wave {
        width: 1130px;

        grid-row: s/ms;

        border-top: 5px ridge $yellow;
        border-left: 5px ridge $yellow;
        border-right: 5px ridge $yellow;
        border-bottom: 3px solid $yellow;
    }

    &__buttons {
        width: 1130px;

        background-color: $teal;

        border-left: 5px ridge $yellow;
        border-right: 5px ridge $yellow;
        border-bottom: 3px solid $yellow;

        grid-column: s/e;

        display: grid;
        grid-template-columns: [s] 311px [ms] 311px [me] 1fr [e];

        .fas {
            font-size: 45px;
        }

        &__start,
        &__stop,
        &__download {
            grid-column: s/e;
            grid-row: sm/me;

            height: 85px;
            color: $purple;
            border-radius: 60px;
        }

        &__start,
        &__stop {
            width: 300px;
            margin-left: 5px;
        }

        &__start,
        &__stop,
        &__download__button {

            border: 3px outset $yellow;
            background-color: $peach;
            
            &:hover {
                background-color: $tan;
            }

            &:active {
                border: 3px inset $yellow;
                background-color: $teal;
            }

            &:focus {
                outline: none;  
            }
        }
        
        &__start {    
            grid-column: s/ms;

            &:focus {
                background-color: $yellow;
            } 
        }

        &__stop {
            grid-column: ms/me;
        }

        &__download {
            color: $purple;

            margin-right: 5px;

            grid-column: me/e;

            display: grid;
            justify-items: end;
            align-items: center;

            &__button {
                border-radius: 60px;
                color: $purple;
                font-size: 50px;  

                height: 85px;
                width: 85px;
            }
        }
    }

    &__audio {
        width: 1130px;

        grid-column: s/e;
        grid-row: me/e;
    
        align-items: center;
        justify-items: center;

        background-color: $yellow;

        border-left: 5px ridge $yellow;
        border-right: 5px ridge $yellow;
        border-bottom: 5px ridge $yellow;

    }
}

.react-mic-container__buttons__download__button {
    font-size: 100px;

    .react-mic-container__buttons__download__button__cloud {
        transform: translateY(-25px);
    }

}